<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Merck App</title>
</head>
<body>
        <div class="container-fluid">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                        <div class="container-fluid">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="/">Merck Application</a>
                                 </div>
                                 <div>
                                     <ul class="navbar-nav navbar-right">
                                        <li><a href="/logout" style="margin-right:20px">logout </a></li>
                                     </ul>
                                     </div>
                         </div>
                         
                </nav>
                <div class="jumbotron jumbotron-fluid">
                    <center>
                            <center>
                                    <h2>Temperature data using Raspberry-pi </h2>                   
                            </center>
                                 <br>
                                   <div>
                                        <style>
                                                table {
                                                  font-family: arial, sans-serif;
                                                  border-collapse: collapse;
                                                  width: 100%;
                                                }
                                                
                                                td, th {
                                                  border: 1px solid #dddddd;
                                                  text-align: left;
                                                  padding: 10px;
                                                }
                                                
                                                tr:nth-child(even) {
                                                  background-color: #dddddd;
                                                }
                                                </style>
                                                </head>
                                                <body>        
                                                    <center>
                                                            <table style="width:inherit"  border = "2">
                                                                    <tr border = "2">
                                                                      <th >Humidity</th>
                                                                      <th>Temperature</th>
                                                                      <th>Time</th>
                                                                    </tr>
                                                                    <tr>
                                                                      <td>Alfreds Futterkiste</td>
                                                                      <td>Maria Anders</td>
                                                                      <td>Germany</td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td>Centro comercial Moctezuma</td>
                                                                      <td>Francisco Chang</td>
                                                                      <td>Mexico</td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td>Ernst Handel</td>
                                                                      <td>Roland Mendel</td>
                                                                      <td>Austria</td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td>Island Trading</td>
                                                                      <td>Helen Bennett</td>
                                                                      <td>UK</td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td>Laughing Bacchus Winecellars</td>
                                                                      <td>Yoshi Tannamuri</td>
                                                                      <td>Canada</td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td>Magazzini Alimentari Riuniti</td>
                                                                      <td>Giovanni Rovelli</td>
                                                                      <td>Italy</td>
                                                                    </tr>
                                                                  </table>
                                                
                                                    </center>                        
                                                
                       </center>
                   
                  </div>
                <div>
                    <center><p>developed by thinkoutofbox MERCK@2019</p> </center>
        </div>
    </body>
</html>
                