<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <title>Merck App</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Merck Application</a>
            </div>
            <div>
                <ul class="navbar-nav navbar-right">
                    <li><a href="/logout" style="margin-right:20px">logout </a></li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="jumbotron jumbotron-fluid">
        <center>
            <h2>Temperature data using Raspberry-pi </h2>
        </center>
        <br>
        <div id="temp-chart">
            <h1>Temp Chart</h1>
        </div>
        <div id="t-pie-chart"></div>

        <div id="hum-chart">
            <h1>Temp Chart</h1>
        </div>
        <div id="h-pie-chart"></div>
        <div style="width:95%">
            <table id="myTable" class="table">
                <thead>
                <tr>
                    <th>Humidity</th>
                    <th>Temperature</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                {% for t in t1 %}
                <tr>
                    <td>{{t.temp}}</td>
                    <td>{{t.humidity}}</td>
                    <td>{{t.c_on}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div>
        <center><p>developed by thinkoutofbox MERCK@2019</p></center>
    </div>
</div>
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/crossfilter.js"></script>
    <script src="/static/js/dc.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );

        var c_data = {{j_data|safe}};
        c_data.forEach(function (d) {
            d.dd = new Date(d.c*1000);
            d.month = d3.timeMonth(d.dd); // pre-calculate month for better performance
            d.hour = d3.timeHour(d.dd);
        });

        var ndx = crossfilter(c_data);

        var tHourDimension  = ndx.dimension(function(d) {return d3.t; });
        var tHourGroup     = tHourDimension.group().reduceSum(function(d) {return d3.timeHour(d.dd)});


        // var temp_chart = dc.boxPlot("#box-test");
        var t_p_chart = dc.barChart("#t-pie-chart");

        // var hum_chart = dc.boxPlot("#hum-chart");
        // var h_p_chart = dc.pieChart("#h-pie-chart");

        t_p_chart
    .width(768)
    .height(480)
    .dimension(tHourDimension)
    .group(tHourGroup)
    .x(d3.scaleLinear().domain([0,23]))
    .brushOn(false)
    .yAxisLabel("This is the Y Axis!");

  dc.renderAll();

    </script>

</body>
</html>
